html
    head
        title Weather Gif Search
    body
        form(action="search", method="get" id="mainForm")
            fieldset
                legend Weather GIF Search
                input(type="text", name="zip", id="zip", placeholder="Enter your Zip code")
                input(type="submit", value="search")
            